<!DOCTYPE html>
<html lang="en">
<head>

    <title>Movehub Ratings</title>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="/assets/css/style.css">

</head>
    <body>

        {{{ body }}}

    </body>
</html>
